.banner {
  background-color: #00235d;
  width: 100%;
  color: white;

}
.banner img {
  padding: 3px;
}

.banner .grid {
  background-color: white;
}

.banner .text{
  padding-top: 25px;
  margin-right: 50px;
}
.banner h1 {
  font-size: 3em;
  font-family: Oswald, sans-serif;
}
.banner p {
  font-size: 1.5em;
  font-family: arial, sans-serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  line-height: 1.5em;
}

@media (min-width: 992px) {
  .banner h1 {
    font-size: 2em;
  }
  .banner p {
    font-size: 1em;
  }
}

@media (min-width: 1170px) {
  .banner h1 {
    font-size: 2.5em;
  }
  .banner p {
    font-size: 1.25em;
  }
}

@media (min-width: 1280px) {
  .banner h1 {
    font-size: 3em;
  }
  .banner p {
    font-size: 1.5em;
  }
}
